body {
  min-width: 1040px;
  max-width: 1340px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 50px;
  padding-right: 20px;
  padding-bottom: 50px;

  font-family: "Georgia", serif;
  font-size: 18px;
  line-height: 1.3;

  background-color: #f4f4f4;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 10px;

  font-size: 20px;
}

.notification {
  margin-bottom: 0;

  font-size: 14px;
  color: #666666;
}

.site {
  display: flex;
  margin-bottom: 50px;
  padding: 15px 0;
}

.site--sparta {
  margin-bottom: 90px;
}

.site__preview {
  position: relative;

  flex-shrink: 0;
  width: 650px;
  margin-right: 3%;

  border: 1px solid #aaaaaa;
}

.preview__btn {
  position: absolute;
  top: 300px;
  left: 50%;

  width: 300px;
  height: 60px;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 15px;
  cursor: pointer;

  transform: translateX(-50%);
}

.preview__btn:hover {
  background-color: rgba(0, 0, 0, 0.65);
}

.preview__btn--close {
  display: none;
}

.site__preview:hover {
  border-color: #ff0000;

  cursor: pointer;
}

.preview__picture {
  display: block;
  width: 100%;
}

.preview__picture--invisible {
  display: none;
}

.site__info {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.site-info--invisible {
  display: none;
}

.site__name {
  margin: 0;

  font-size: 30px;
}

.site__description {
  padding-bottom: 10px;
}

.site__code a {
  display: inline-block;
  margin-bottom: 8px;

  font-size: 20px;
  text-decoration: none;
}

.site--shopy .site__code a {
  color: #ff5912;

  border-bottom: 1px solid rgba(255, 89, 18, 0.3);
}

.site--shopy .site__code a:hover {
  border-bottom: 1px solid rgba(255, 89, 18, 1);
}

.site--sparta .site__code a {
  color: #ff0000;

  border-bottom: 1px solid rgba(255, 0, 0, 0.3);
}

.site--sparta .site__code a:hover {
  border-bottom: 1px solid rgba(255, 89, 18, 1);
}

.site__design {
  margin-top: auto;
}

.site__copyright {
  margin: 0;
  margin-bottom: 10px;
}

.site__layout-list {
  margin: 0;
  padding: 0;

  font-size: 16px;

  list-style: none;
}

.site__layout-list a {
  text-decoration: none;
  color: #6688dd;
}

.site__layout-list a:hover {
  border-bottom: 1px solid #3388dd;
}

.about-me {
  margin-right: 14vw;
  padding-left: 50px;

  line-height: 1.5;
}

.about-me p {
  margin-top: 0;
  margin-bottom: 10px;
}

.about-me a {
  text-decoration: none;
  color: #3388dd;
}

.about-me a:hover {
  border-bottom: 1px solid #3388dd;
}

/* Hidden block with preview description
initialized with JS by clicking on preview picture*/

.site--shopy .preview--active {
  border-color: #ff5912;

  cursor: pointer;
}

.site--sparta .preview--active {
  border-color: #ff0000;

  cursor: pointer;
}

.preview__description {
  position: relative;

  display: none;
}

.preview__description--visible {
  display: block;
  width: 35%;
}

.preview__flex-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site__picture {
  display: none;
}

.site__picture--visible {
  display: block;
  width: 100%;
}

.site--shopy .description--first {
  min-height: 45px;
  margin: 0;
}

.site--shopy .description--second {
  margin-top: 10px;
}

.site--shopy .description--third {
  margin-top: 70px;
}

.site--shopy .description--fourth {
  margin-top: 210px;
}

.site--sparta .description--first {
  min-height: 95px;
  margin: 0;
}

.site--sparta .description--second {
  min-height: 50px;
}

.site--sparta .description--third {
  min-height: 70px;
  margin-top: 20px;
}

.site--sparta .description--fourth {
  min-height: 70px;
  margin-top: 60px;
}

.site--sparta .description--fifth {
  min-height: 140px;
}

.site--sparta .description--sixth {
  min-height: 45px;
  margin-top: 310px;
  margin-bottom: 0;
}

.site--sparta .description--seventh {
  min-height: 45px;
}

.site--sparta .description--eight {
  min-height: 70px;
  margin-top: 270px;
  margin-bottom: 0;
}

.site--sparta .description--tenth {
  min-height: 70px;
  margin-top: 1050px;
}

.site--sparta .description--eleventh {
  margin-top: 630px;
}

.site--sparta .description--twelfth {
  margin-top: 250px;
}

.site--sparta .description--thirteenth {
  margin-top: 400px;
}

.description:nth-last-child(2) {
  margin-bottom: auto;
}

.description:last-child {
  margin-top: auto;
  margin-bottom: 10px;
}
