body {
  padding: 20px 50px;

  font-family: "Georgia", serif;
  font-size: 18px;

  background-color: #f4f4f4;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 10px;

  font-size: 20px;
}

.site {
  display: flex;
  margin-bottom: 50px;
  padding: 15px;
}

.site__preview {
  width: 55%;
  margin-right: 5%;
}

.site__picture {
  display: block;
  width: 100%;

  border: 1px solid #aaaaaa;
}

.site__info {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.site__name {
  margin: 0;

  font-size: 30px;
}

.site__description {
  padding-bottom: 10px;
}

.site__code a {
  display: inline-block;
  margin-bottom: 8px;

  font-size: 20px;
  text-decoration: none;
}

.site--shopy .site__code a {
  color: #ff5912;

  border-bottom: 1px solid rgba(255, 89, 18, 0.3);
}

.site--shopy .site__code a:hover {
  border-bottom: 1px solid rgba(255, 89, 18, 1);
}

.site--sparta .site__code a {
  color: #ff0000;

  border-bottom: 1px solid rgba(255, 0, 0, 0.3);
}

.site--sparta .site__code a:hover {
  border-bottom: 1px solid rgba(255, 89, 18, 1);
}

.site__design {
  margin-top: auto;
}

.site__copyright {
  margin: 0;
  margin-bottom: 10px;
}

.site__layout-list {
  margin: 0;
  padding: 0;

  font-size: 16px;

  list-style: none;
}

.site__layout-list a {
  text-decoration: none;
  color: #6688dd;
}

.site__layout-list a:hover {
  border-bottom: 1px solid #3388dd;
}

.about-me {
  margin-right: 200px;
  padding-left: 50px;

  line-height: 1.5;
}

.about-me p {
  margin-top: 0;
  margin-bottom: 10px;
}

.about-me a {
  text-decoration: none;
  color: #3388dd;
}

.about-me a:hover {
  border-bottom: 1px solid #3388dd;
}
