body {
  min-width: 1000px;
  padding: 20px 50px;
  padding-bottom: 50px;

  font-family: "Georgia", serif;
  font-size: 18px;
  line-height: 1.3;

  background-color: #f4f4f4;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 10px;

  font-size: 20px;
}

.notification {
  margin-bottom: 0;

  font-size: 14px;
  color: #666666;
}

.site {
  display: flex;
  margin-bottom: 50px;
  padding: 15px 0;
}

.site__preview {
  width: 62%;
  margin-right: 3%;

  border: 1px solid #aaaaaa;
}

.site__preview:hover {
  border-color: #ff0000;

  cursor: pointer;
}

.preview__picture {
  display: block;
  width: 100%;
}

.preview__picture--invisible {
  display: none;
}

.site__info {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.site-info--invisible {
  display: none;
}

.site__name {
  margin: 0;

  font-size: 30px;
}

.site__description {
  padding-bottom: 10px;
}

.site__code a {
  display: inline-block;
  margin-bottom: 8px;

  font-size: 20px;
  text-decoration: none;
}

.site--shopy .site__code a {
  color: #ff5912;

  border-bottom: 1px solid rgba(255, 89, 18, 0.3);
}

.site--shopy .site__code a:hover {
  border-bottom: 1px solid rgba(255, 89, 18, 1);
}

.site--sparta .site__code a {
  color: #ff0000;

  border-bottom: 1px solid rgba(255, 0, 0, 0.3);
}

.site--sparta .site__code a:hover {
  border-bottom: 1px solid rgba(255, 89, 18, 1);
}

.site__design {
  margin-top: auto;
}

.site__copyright {
  margin: 0;
  margin-bottom: 10px;
}

.site__layout-list {
  margin: 0;
  padding: 0;

  font-size: 16px;

  list-style: none;
}

.site__layout-list a {
  text-decoration: none;
  color: #6688dd;
}

.site__layout-list a:hover {
  border-bottom: 1px solid #3388dd;
}

.about-me {
  margin-right: 200px;
  padding-left: 50px;

  line-height: 1.5;
}

.about-me p {
  margin-top: 0;
  margin-bottom: 10px;
}

.about-me a {
  text-decoration: none;
  color: #3388dd;
}

.about-me a:hover {
  border-bottom: 1px solid #3388dd;
}

/* Hidden block with preview description
initialized with JS by clicking on preview picture*/

.site--shopy .preview--active {
  border-color: #ff5912;

  cursor: pointer;
}

.site--sparta .preview--active {
  border-color: #ff0000;

  cursor: pointer;
}

.preview__description {
  display: none;
}

.preview__description--visible {
  display: block;
  width: 35%;
}

.site__picture {
  display: none;
}

.site__picture--visible {
  display: block;
  width: 100%;
}

.site--shopy .description--first {
  margin-top: 0;
}

.site--shopy .description--third {
  margin-top: 110px;
}

.site--shopy .description--fourth {
  margin-top: 280px;
}

.site--shopy .description--fifth {
  margin-top: 750px;
  margin-bottom: 0;
}

.site--sparta .description--third {
  margin-top: 110px;
}

.site--sparta .description--fourth {
  margin-top: 140px;
}

.site--sparta .description--sixth {
  margin-top: 500px;
}

.site--sparta .description--eight {
  margin-top: 360px;
}

.site--sparta .description--tenth {
  margin-top: 1350px;
}

.site--sparta .description--eleventh {
  margin-top: 800px;
}

.site--sparta .description--twelfth {
  margin-top: 340px;
}

.site--sparta .description--thirteenth {
  margin-top: 500px;
}

.site--sparta .description--fourteenth {
  margin-top: 130px;
  margin-bottom: 0;
}
